.avatars{
    height: 835px;
    background:url(../../images/avatars-bg.png) center center/cover no-repeat;
    &-block{
        padding: 230px 0 379px 0;
        max-width: 542px;
        margin: 0 auto;
        &__text{
            color: #567592;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            text-align: center;
            margin-top: 22px;
        }
        &__button{
            display: block;
            margin: 0 auto;
            margin-top: 47px;
        }
    }
}