.title{
    color: #2f281e;
    font-size: 36px;
    font-weight: 700;
    &_center{
        text-align: center;
    }
    &_mini{
        font-size: 16px;
    }
    &_marketing{
        font-size: 34px;
    }
}